venv/
venv
.venv
modules/*
!modules/login_broker.py
!modules/get_bearer.py
!modules/cnpja_api.py
!modules/cnpjaAPICustom.py
!modules/ferramentas_analise.py
!modules/pdf_binario.py
!modules/N8N_WebHook.py
!modules/modelo
request_test.py